#db config
db.pool_max_size=20

#localhost mysql 5.5
db.driver_class=com.mysql.jdbc.Driver
#db.conn_url=jdbc:mysql://127.0.0.1/st_oa?useUnicode=true&characterEncoding=UTF-8
#db.conn_url=jdbc:mysql://58.211.23.247/st_oa?useUnicode=true&characterEncoding=UTF-8
db.conn_url=jdbc:mysql://127.0.0.1/szksw?useUnicode=true&characterEncoding=UTF-8
#db.conn_url=jdbc:mysql://192.168.0.88/szksw?useUnicode=true&characterEncoding=UTF-8
db.username=root
db.password=donotuseroot

#=====================================================================
MODULES_PKG_NAME=szksw

project_name=szksw
debug_level=info